# List  # Dictionaries # Comparison Operators# Logic Operators # String #Method

## List

In [1]:
my_list = ['john','ben','cathy'] # define a list

In [2]:
print(my_list)

['john', 'ben', 'cathy']

In [3]:
my_list[0] = 'NEW' # replace the first element

In [4]:
print(my_list)

['NEW', 'ben', 'cathy']

In [5]:
list2=['a',3,4,'fgds']

In [6]:
list3=[3, 5, 'ftg','ttt','gggg',90,32,'dd', 'me']

In [7]:
list2[3]

'fgds'

In [8]:
list2

['a', 3, 4, 'fgds']

In [9]:
print(my_list[0]) # print first element

NEW

In [10]:
print(my_list[1]) # print second element

ben

In [11]:
my_list = ['john','ben','cathy'] # define a list

In [12]:
my_list

['john', 'ben', 'cathy']

In [13]:
my_list.append('ddd')

In [14]:
my_list

['john', 'ben', 'cathy', 'ddd']

In [15]:
my_list[0]

'john'

In [16]:
my_list[1]

'ben'

In [17]:
my_list[1:]

['ben', 'cathy', 'ddd']

In [19]:
my_list[:3]

['john', 'ben', 'cathy']

## Nested list

In [20]:
nest = [1,2,3,[4,5,['aaa']]]

In [21]:
nest[3]

[4, 5, ['aaa']]

In [22]:
nest[3][2]

['aaa']

In [23]:
nest[3][2][0]

'aaa'

In [24]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [25]:
thislist = ["apple", "banana", "cherry"]

for x in thislist:
  print(x)

apple
banana
cherry

In [26]:
thislist = ["apple", "banana", "cherry"]

print(len(thislist))

3

## Adding in the list

In [27]:
thislist.append('sss')

thislist

x=len(thislist)
x

4

## Remove from the list

In [28]:
thislist = ["apple", "banana", "cherry"]

thislist.remove("banana")

print(thislist)

['apple', 'cherry']

In [29]:
thislist = ["apple", "banana", "cherry"]

thislist.pop()

print(thislist)

['apple', 'banana']

In [32]:
thislist.pop()
print(thislist)

IndexError: pop from empty list

In [33]:
# Nested List
n_list = ["Happy", [2,0,1,5], ['ss',5,8,'wwww']]
# Nested indexing
# Output: a
print(n_list[2][3])

wwww

### Dictionaries

In [34]:
d = {'key1':'item1','key2':'item2'}

In [35]:
d

{'key1': 'item1', 'key2': 'item2'}

In [36]:
d['key1']

'item1'

In [37]:
d['item1']

KeyError: 'item1'

In [38]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

#thisdict["year"] = 2018

In [40]:
thisdict["year"]

1964

## Comparison Operators

In [41]:
1 > 2

False

In [42]:
1 < 2

True

In [43]:
1 >= 1

True

In [45]:
1 <= 4

True

In [44]:
1 == 1

True

In [46]:
'hi' == 'bye'

False

## Logic Operators

In [47]:
(1 > 2) and (2 < 3)

False

In [48]:
(1 > 2) or (2 < 3)

True

In [49]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## methods

In [50]:
st = 'hello my name is Sam'

In [51]:
st.lower()

'hello my name is sam'

In [52]:
st.upper()

'HELLO MY NAME IS SAM'

In [53]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [55]:
tweet = 'Go Sports! #Sports'

In [56]:
tweet.split('#')

['Go Sports! ', 'Sports']

# import example

In [57]:
import datetime as timenow

x = timenow.datetime.now()
print(x)

2020-09-26 01:36:09.881377

In [58]:
import datetime

x = datetime.datetime.now()


print(x)

print(x.microsecond)
print(x.second)

2020-09-26 01:37:02.443443
443443
2

In [59]:
import datetime

x = datetime.datetime(2020,5,13)

print(x)

2020-05-13 00:00:00

In [60]:
import calendar

my_calender = calendar.month(2045, 5)

print ("Here is the calendar:")

print (my_calender)

Here is the calendar:
      May 2045
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31