# Python


## Topic : Print statement

In [1]:
print("Hi Python")

Hi Python

# Session-1

In [2]:
print('hi.....')

hi.....

In [3]:
print('zilani')

zilani

In [4]:
print("my name is...")

my name is...

In [5]:
print('125')

125

In [9]:
# need extra attention 
# kaksdfaskldf

print("That's pen")

That's pen

## Topic : python as a calculator!

In [10]:
1+3

4

In [11]:
3-2

1

In [12]:
5*6

30

In [13]:
2/4

0.5

In [14]:
5/2

2.5

In [15]:
# two power 4

2**4

16

In [16]:
5%2

1

In [17]:
4%2

0

In [ ]:

# try this
Show 9*9 = ??
(5/2)*(2+2)

In [18]:
9*9

81

In [19]:
(5/2)*(2+2)

10.0

## Topic: variable concept

In [22]:
var1=200

In [23]:
var1

200

In [24]:
x=3
y=6

z=x+y

In [25]:
z

9

In [26]:
print(z)

9

In [27]:
print('z')

z

In [28]:
##Say there is a variable named var2, store 9.5 there and print it. 

#Store 6 in a variable and 3 in b variable. Show how to print a-b and what will be the output?

var2=9.5

In [29]:
print(var2)

9.5

In [30]:
a='hellow'

In [31]:
print(a)

hellow

In [32]:
num=12
name1=2323

In [33]:
# do it

#Store your name in a variable and print it. 

name111='zilani'

#Can you print : 
#My name is Sam

In [34]:
name111

'zilani'

In [35]:
print(name111)

zilani

### List

In [37]:
mlist=['nnns','name2','name33']

In [38]:
mlist[0]

'nnns'

In [39]:
mlist=['nnns','name2','name33',55]

In [40]:
mlist[3]

55

In [ ]:
#Store 254, 365, 897 in a list and retrieve 897   ??

### Boolean

In [ ]:
True

In [ ]:
False

## Topic: logical operation

In [41]:
1>2

False

In [42]:
3<1

False

In [44]:
x=4
y=5

x>y

False

In [ ]:
# store two numbers in variables
# print either true or false

## Topic: conditional statement

In [45]:
if (3<4):
    print("That's right")

That's right

In [49]:
if (3<2):
    print('something')
else:
    print('Different')

Different

In [ ]:
if (3<2):
    print('something')
elif (2==3):
    print('Different')
else:
    print('nothing')

In [ ]:
var=100

if (var>200):
    print('first condition is not true')
elif(var>50):
    print('second condition is not true')
elif(var<60):
    print('third condition is not true')
else:
    print('exit')