# For loop in Python

### Example-1

In [1]:
seq=[1,2,3,4,5]

In [2]:
for item in seq:
    print(item)

1
2
3
4
5

### Example-2

In [3]:
for val in range(5):
    print('My Name')

My Name
My Name
My Name
My Name
My Name

### Example-3

In [5]:
digits=[3,5,8,90]

for item in digits:
    print(item)

3
5
8
90

### Example-4

In [6]:
for val in range(20,25):
    print(val)

20
21
22
23
24

### Example-5

In [7]:
for val in range(0,15,3):
    print(val)

0
3
6
9
12

### Example-6

In [8]:
for val in range(100,0,-10):
    print(val)

100
90
80
70
60
50
40
30
20
10

### Example-7

In [9]:
veg=['orange','mangoes','apple','melon']

for val in veg:
    print(val)

orange
mangoes
apple
melon

### Example-8

In [10]:
# use the for loop to add 0 to 4 ??


i=0

for val in range(5):
    i=i+val
    
print(i)

10

### Example-9

In [11]:
# add 1 to 10

i=0

for val in range(11):
    i=i+val
    
print(i)

55

# Range

In [12]:
x=range(3,6)

for number in x:
    print(number)

3
4
5

In [18]:
x=range(3,20,2)

for number in x:
    print(number)
    
print('afgafg')

3
5
7
9
11
13
15
17
19
afgafg

# While loop

In [14]:
i=0

while(i<5):
    print(i)
    i=i+1

0
1
2
3
4

In [16]:
i=10

while(i<=21):
    
    print(i)
    i=i+1

10
11
12
13
14
15
16
17
18
19
20
21

In [17]:
temperature=115

while temperature<120:
    print(temperature)
    temperature=temperature+1
    
print('hot enough')

115
116
117
118
119
hot enough